// Materialize icons

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-icons.woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
        flex: 1 0 auto;
    }
    
    .footer-repo {
        padding: 0.2rem;
        border-radius: 0.25rem;
        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }

    .card {
        .card-content {
            min-height: 14rem;
        }
        .git-image-og-container {
            padding: 1rem;
        }
        .git-image-og {
            width: 5rem;
        }
    }
    
    .logo-container {
        position: relative;
        .logo-effect {
            position: absolute;
            display: flex;
            width: 10rem;
            height: inherit;
            top: 0;
        }
        .logo-image {
            display: block;
            width: auto;
            margin: auto;
        }
    }
}