@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

main {
    font-family: 'Nunito', sans-serif;
    /* height: 100vh; */
    margin: 0;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    margin: auto;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.bootstrap_color {
    color: #563d7c;
}

a {
    color: #000000;
}
a:hover {
    color: #000000;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.laravel_color {
    color: white;
    background-color: #f05340;
}

.html_color {
    color: white;
    background-color: #e44d26;
}

.bootstrap_color {
    color: white;
    background-color: #563b7e;
}

.sass_color {
    color: white;
    background-color: #cd6799;
}

.vue_color {
    color: white;
    background-color: #41b883;
}

.php_color {
    color: white;
    background-color: #787CB5;
}

.symfony_color {
    color: white;
    background-color: #000000;
}

.nodejs_color {
    color: white;
    background-color: #68a063;
}


.card {
    border: 3px solid rgb(240, 240, 240);
}
.card-central {
    padding: 1.25em;
    cursor: pointer;
}
.card-body {
    padding: 0 !important;
    padding-bottom: 1.25em !important;
}

.card_overflow {
    /* height: 21vh; */
    overflow: auto;
}
.git_link_color {
    color: #28a745 !important;
}
.git_link_color:hover {
    color: #ffffff !important;
}
.go_to_localhost:hover {
    color: #28a745;
}

.shadowed {
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.5));
}

.git-logo {
    max-width: 10vw;
}
.git-desc {
    max-width: 50vw;
}

.mouse_pointer {
    cursor: pointer;
}

.text_overflow_ellipsis {
    /* width: 200px; */

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.git_btn {
    max-width: 50%;
}

.card_style {
    min-height: 24vh;
    max-height: 24vh;
}

.card_readme_height {
    /* min-height: 8vh; */
}

.delete_repo {
    color: #dc3545 !important;
    font-weight: 700;
}
.delete_repo:hover {
    color: #ffffff !important;
    font-weight: 700;
}

.readme_repo:hover {
    color: #ffffff !important;
}

.card_style {
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 15px;
}
.card_style:hover {
    box-shadow: 5px 5px 5px black;
    border: 3px solid rgb(25, 25, 25);
    background-color: rgb(220, 220, 220);
}

.input_radius {
    border-radius: 25px;
    width: 80%;
}

.input_radius_logo {
    border-radius: 0 25px 25px 0;
    color: black;
    background-color: white;
}

.input_border {
    border-right: 0px;
}

.input_logo_border {
    border-left: 0px;
}

.input_radius_logo:hover {
    background-color: lightpink;
}

.display_none {
    display: none;
}

.container-width {
    max-width: 100vw;
}

/* Icon Color */
.fa-book {
    color: gray;
}

.fa-laravel {
    color: #f05340;
}

.fa-vuejs {
    color: #41b883;
}

.fa-bootstrap {
    color: #563d7c;
}

.fa-bookmark {
    color: #4caf50;
}

.fa-font-awesome-flag {
    color: #155592;
}

.fa-git-alt {
    color: #f34f29;
}

.fa-github {
    color: #211F1F;
}

.fa-gitlab {
    color: #FC6D27;
}

.fa-bitbucket {
    color: #0357D1;
}